*{
margin: 0;

padding: 0;

box-sizing: border-box;
}

html {
height: 100%;
}

body {
     margin: 0;
    background-color: #0B2434;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

div#root {
    height: 100%;
}

main{
    background-color: #F5F5F5;
    
    border-radius: 10px;
    height: 100%;
}